body {
   margin: 0;
}

header {
   height: 4rem;
   width: 100%;
   outline: 1px black solid;
}

#left-bar {
   height: 2rem;
   width: 6rem;
   margin-top: 1.5rem;
   margin-left: 1rem;
   float: left;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

#left-bar a {
   text-decoration: none;
}

#navbar {
   height: 2rem;
   width: 14rem;
   margin-top: 1.5rem;
   margin-right: 1.5rem;
   float: right;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

#navbar a {
   text-decoration: none;
}

.nav-link {
   font-size: 12px;
}

#main-content {
   height: 30rem;
   width: 40rem;
   margin: 8rem auto 0 auto;
}

#logo {
   display: block;
   margin: 0 auto 0 auto;
}

#searchform {
   outline: 1px black solid;
   height: 3rem;
   width: 30rem;
   display: flex;
   align-content: center;
   margin: 4rem auto auto auto;
}

#searchbar {
   height: 1rem;
   width: 24rem;
}