body {
   margin: 0;
   height: 100vh;
}

header {
   height: 8vh;
   width: 100%;
   outline: 1px black solid;
}

#left-bar {
   height: 2rem;
   width: 5rem;
   margin-top: 1.5rem;
   margin-left: 1rem;
   float: left;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

#left-bar a {
   text-decoration: none;
}

#navbar {
   height: 2rem;
   width: 14rem;
   margin-top: 1.5rem;
   margin-right: 1.5rem;
   float: right;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

#navbar a {
   text-decoration: none;
}

.nav-link {
   font-size: 12px;
}

#main-content {
   height: 74vh;
   width: 40rem;
   margin: 8.5rem auto 0 auto;
}

#logo {
   display: block;
   margin: 0 auto 0 auto;
}

#searchform {
   outline: rgba(230, 230, 230, 1.0) solid 1px;
   height: 3rem;
   width: 36rem;
   display: flex;
   align-content: center;
   margin: 2rem auto auto auto;
   border-radius: 20px;
}

#searchbar {
   border: none;
   height: 1.5rem;
   width: 33rem;
   margin-top: 0.7rem;
}

.material-icons {
   margin-left: 0.5rem;
   margin-top: 0.8rem;
}

#buttons {
   display: flex;
   justify-content: space-between;
   height: 2rem;
   width: 16rem;
   margin: 2rem auto auto auto;
}

.button {
   text-decoration: none;
   font-size: 13px;
   color: rgba(90, 90, 90, 1.0);
   background-color: rgba(240, 240, 240, 1.0);
   padding-top: 0.5rem;
   padding-left: 0.1rem;
   padding-right: 0.1rem;
   border-radius: 3px;
}

footer {
   outline: black solid 1px;
   height: 5vh;
   background-color: rgba(240, 240, 240, 1.0);
}

#footer-bar {
   width: 20rem;
   display: flex;
   justify-content: space-between;
}